<!doctype html>
<html lang="en">
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">

<title>Hello, world!</title>
</head>
<style>
h1 {
	color: #ddeeff;
	font-size: 40px;
	text-align: center;
	padding-right: 60%;
}

button {
	float: right;
}

table-fixed tbody {
	height: 300px;
	overflow-y: auto;
	width: 100%;
}

table-fixed thead, table-fixed tbody, table-fixed tr, table-fixed td,
	table-fixed th {
	display: block;
}

/* table-fixed tbody td, table-fixed tbody th, table-fixed thead>tr>th {
	float: left;
	position: relative; : after { content : '';
	clear : both;
	display: block;
; */

</style>
<body>
	<nav class="navbar navbar-expand-lg navbar-light bg-light" >
    <div class="container-fluid">
       <div class="container">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto"></ul>
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/admin}" href="#">Admin</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/logout}" href="#">logout</a>
                </li>

            </ul>

        </div>
        </div>
    </div>
</nav>
	</br>
	<div class="container">
		<div class="row">
			<h1>Flight Schedule</h1>
			<div class="col-md-12 text-right">
				<button type="button" class="btn btn-primary" data-toggle="modal"
					data-target="#exampleModal">Tambah
					Jadwal Penerbangan</button>
			</div>
		</div>
	</div>
	<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
		aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Tambahkan
						Jadwal Baru</h5>
					<button type="button" class="close float-right"
						data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true"></span>
					</button>
				</div>
				<div class="modal-body">
					<form method="post" th:action="@{/addflight/save}"
						th:object="${addFlightForm}">
						<div class="form-group">
							<label for="recipient-name" class="col-form-label">Kode
								Penerbangan</label> <input type="text" class="form-control"
								id="recipient-name" th:field="*{flightCode}">
						</div>
						<div class="form-group">
							<label for="message-text" class="col-form-label">Kategori
								Penerbangan</label> <input type="text" class="form-control"
								id="recipient-name" th:field="*{Category}">
						</div>
						<div class="form-group">
							<label for="message-text" class="col-form-label">Maskapai</label>
							<input type="text" class="form-control" id="recipient-name"
								th:field="*{Airline}">
						</div>
						<div class="form-group">
							<label for="message-text" class="col-form-label">Kota
								Asal</label> <input type="text" class="form-control" id="recipient-name"
								th:field="*{Asal}">
						</div>
						<div class="form-group">
							<label for="message-text" class="col-form-label">Kota
								Tujuan</label> <input type="text" class="form-control"
								id="recipient-name" th:field="*{Tujuan}">
						</div>
						<div class="form-group">
							<label for="message-text" class="col-form-label">Tanggal
								Keberangkatan</label> <input type="date" class="form-control"
								id="recipient-name" th:field="*{tanggalKeberangkatan}">
						</div>
						<div class="form-group">
							<label for="message-text" class="col-form-label">Waktu
								Keberangkatan</label> <input type="time" class="form-control"
								id="recipient-name" th:field="*{flightTime}">
						</div>
						<div class="form-group">
							<label for="message-text" class="col-form-label">Harga</label> <input
								type="number" class="form-control" id="recipient-name"
								th:field="*{harga}">
						</div>
						<div class="form-group">
							<label for="message-text" class="col-form-label">Kapasitas</label>
							<input type="number" class="form-control" id="recipient-name"
								th:field="*{seat}">
						</div>
						<div class="modal-footer">
							<button type="submit" class="btn btn-primary" value="save">Simpan</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	</br>
	<div class="container">
		<div class="table-responsive">
			<table class="table table-fixed" >
				<thead class="thead-light" cellpadding="2">
					<tr>
						
						<th scope="col" class="col-3">Kode Penerbangan</th>
						<th scope="col" class="col-3">Kategori Penerbangan</th>
						<th scope="col" class="col-3">Maskapai</th>
						<th scope="col" class="col-3">Kota Asal</th>
						<th scope="col" class="col-3">Kota Tujuan</th>
						<th scope="col" class="col-3">Tanggal Keberangkatan</th>
						<th scope="col" class="col-3">Waktu Keberangkatan</th>
						<th scope="col" class="col-3">Harga</th>
						<th scope="col" class="col-3">Kapasitas</th>
					</tr>
				</thead>
				<tbody class="table">
					<tr th:each="addflight : ${addflight1}">
						<td th:text="${addflight.flightCode}" class="col-3"></td>
						<td th:text="${addflight.Category}" class="col-3"></td>
						<td th:text="${addflight.Airline}" class="col-3"></td>
						<td th:text="${addflight.Asal}" class="col-3"></td>
						<td th:text="${addflight.Tujuan}" class="col-3"></td>
						<td th:text="${addflight.tanggalKeberangkatan}" class="col-3"></td>
						<td th:text="${addflight.flightTime}" class="col-3"></td>
						<td th:text="${addflight.harga}" class="col-3"></td>
						<td th:text="${addflight.seat}" class="col-3"></td>



					</tr>





				</tbody>
			</table>
		</div>
	</div>




	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
		integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
		crossorigin="anonymous"></script>
	<script
		src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
		integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
		crossorigin="anonymous"></script>
	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
		integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
		crossorigin="anonymous"></script>
</body>
</html>