<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Detail Pembayaran</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <h4>Detail Token</h4>
    <br/>
    <table class="table table-hover">
        <tbody>
        <tr>
            <th scope="row">No Meteran Listrik</th>
            <td th:text="${pembelianTokenForm.nometeran}"> </td>
        </tr>
        <tr>
            <th scope="row">No Token</th>
            <td th:text="${pembelianTokenForm.tokenpembelian.noToken}"> </td>
        </tr>
        <tr>
            <th scope="row">Harga</th>
            <td th:text="${pembelianTokenForm.tokenpembelian.tokenprices.hargatoken}"> </td>
        </tr>
        <tr>
            <th scope="row">Nama</th>
            <td th:text="${pembelianTokenForm.user.firstName}"> </td>
        </tr>
        </tbody>
    </table>
    <a th:href="@{/user/pembayaran}" class="btn btn-primary">Kembali</a>
</div>
</body>
</html>