<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Detail Pembayaran</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <h4>Detail Pembayaran</h4>
    <br/>
    <table class="table table-hover">
        <tbody>
        <tr>
            <th scope="row">Nama Pelanggan</th>
            <td th:text="${pembayaranForm.tagihanuser.name}"> </td>
        </tr>
        <tr>
            <th scope="row">No Pelanggan</th>
            <td th:text="${pembayaranForm.tagihanuser.noPelanggan}"> </td>
        </tr>
        <tr>
            <th scope="row">Harga</th>
            <td th:text="${pembayaranForm.tagihanuser.harga}"> </td>
        </tr>
        <tr>
            <th scope="row">Tipe Tagihan</th>
            <td th:text="${pembayaranForm.tagihanuser.tipetagihan.namatipe}"> </td>
        </tr>
        </tbody>
    </table>
    <a th:href="@{/user/pembayarantagihan}" class="btn btn-primary">Kembali</a>
</div>
</body>
</html>


