<!doctype html>
<html lang="en">
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=5, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">
<style>
form {
	padding: 1em;
	background: #f9f9f9;
	border: 1px solid #c1c1c1;
	margin-top: 2rem;
	max-width: 600px;
	margin-left: auto;
	margin-right: auto;
	padding: 1em;
}

table {
	border-spacing: 1;
	border-collapse: collapse;
	background: white;
	border-radius: 6px;
	overflow: hidden;
	max-width: 800px;
	width: 100%;
	margin: 0 auto;
	position: relative;
}

position :relative


td, th {
	padding-left: 8px
}

thead tr {
	height: 60px;
	background: #FFED86;
	font-size: 16px;
}

tbody tr {
	height: 48px;
	border-bottom: 1px solid #E3F1D5;
}

last-child {
	border: 0;
}

td, th {
	text-align: center;
}

.c {
	text-align: center
}

.r {
	text-align: center
}


</style>
<body>
<nav class="navbar navbar-expand-lg navbar-light"
		style="background-color: #ddeeff">
		<a class="navbar-brand" href="#">Flight Reservation</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent" aria-expanded="false"
			aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item active"><a class="nav-link" href="/flightpassenger">Customer<span
						class="sr-only">(current)</span></a></li>
				<li class="nav-item active"><a class="nav-link" href="/addflight">Admin</a>
				</li>
			</ul>
		</div>
	</nav>
<form>

		<div class="row">

			<div class="col">

				<label>Kota Asal</label></br> <select name="providers" id="providers"
					class="form-control" >
					<option th:each="provider : ${addflight1}"
						 th:text="${provider.asal}">
					</option>
					</select>
			</div>
			<div class="col">

				<label>Kota Tujuan</label></br> <select name="providers" id="providers"
					class="form-control" >
					<option th:each="provider : ${addflight1}"
						th:value="${provider.id}" th:text="${provider.tujuan}">
					</option>
					</select>
			
			
			</div>
			
			</div>
			</br>
			<div class="col">
			<div class = "row">
			<label>Tanggal Keberangkatan</label>
			<input type="date" class="form-control"
					placeholder="Nama Lengkap">
					<div class="col">
					</br>
		<!-- 	<div class="row">
			<label> Jumlah Penumpang</label>
			<input type="number" class="form-control">
			</div> -->
		
			
			
			</div>
		
			</div>
			</div>
					
			
			
				<button value="search" th:action="@{/flightpassenger(search=${search})}" method="get" type="submit" 
				class="btn btn-outline-primary">Cari</button>
			</form>
			</br>
			<div class="container">
		<div class="table-responsive">
			<table class="table table-fixed" >
				<thead class="thead-light" cellpadding="2">
					<tr>
						<th scope="col" >Maskapai</th>
						<th scope="col" >Kota Asal</th>
						<th scope="col" >Kota Tujuan</th>
						<th scope="col" >Tanggal Keberangkatan</th>
						<th scope="col"> Action</th>
					</tr>
					</thead>
					<tbody class="table">
					<tr th:each="addflight : ${addflight1}">
						<td th:text="${addflight.Airline}" class="col-3"></td>
						<td th:text="${addflight.Asal}" class="col-3"></td>
						<td th:text="${addflight.Tujuan}" class="col-3"></td>
						<td th:text="${addflight.tanggalKeberangkatan}" class="col-3"></td>
						<td>
								<!-- <a  th:href="@{'flightpassenger/book?id='+${addflight.id}}" type="button" class="btn btn-primary" value="book">Pesan Sekarang</a> -->
									<button data-target="#exampleModal" data-toggle="modal" type="button" class="btn btn-primary" value="book">Pesan Sekarang</button>
							</td>
						
					</table>
					</div>
					</div>
					<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
		aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Tambahkan
						Jumlah Penumpang<h5>
					<button type="button" class="close float-right"
						data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true"></span>
					</button>
				</div>
				<div class="modal-body">
					<form method="post" th:action="@{/flightpassenger/save}"
						th:object="${addflightForm}">
						<div class="form-group">
							<label for="recipient-name" class="col-form-label">Jumlah Penumpang</label> <input type="text" class="form-control"
								id="recipient-name" th:field="*{seat}">
						</div>
						<div class="modal-footer">
							<button type="submit" class="btn btn-primary" value="save">Selanjutnya</button>
						</div>
						
						</form>
						</div>
						</div>
						</div>
						</div>


	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<script
		src="https://cdn.jsdelivr.net/npm/popper.js@1.14.3/dist/umd/popper.min.js"
		integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
		crossorigin="anonymous"></script>
	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js"
		integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
		crossorigin="anonymous"></script>

</body>
</html>