<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">

    <title>kelompok 5</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/cover/">

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">

  </head>

  <body class="p-5 text-center img-fluid"
  style="background-image: url('https://mdbcdn.b-cdn.net/img/new/slides/041.webp');">
    <header>
        <!-- Intro settings -->
        <style>
          /* Default height for small devices */
          #intro-example {
            height: 400px;
          }
      
          /* Height for devices larger than 992px */
          @media (min-width: 992px) {
            #intro-example {
              height: 600px;
            }
          }
        </style>
      
        <!-- Background image -->
        <div id="intro-example" >
          <div class="mask" style="background-color: rgba(0, 0, 0, 0.7);">
            <div class="d-flex justify-content-center align-items-center h-100">
              <div class="text-white">
                <h1 class="mb-3">Aplikasi Ecommerce</h1>
                <h5 class="mb-4">
                    Please Choose Your roles
                </h5>
                <a class="btn btn-outline-light btn-lg m-2" th:href="@{/admin}"
                  role="button" rel="nofollow">Admin</a>
                  <a class="btn btn-outline-light btn-lg m-2" th:href="@{/shop}"
                  role="button" rel="nofollow">Go To Shopping</a>
              </div>
            </div>
          </div>
        </div>
        <!-- Background image -->
      </header>
      </div>
  </body>
</html>
