<link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<style>
#login {
    padding-top: 50px
}
#login .form-wrap {
    width: 30%;
    margin: 0 auto;
}
#login h1 {
    color: #0455BF;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    padding-bottom: 20px;
}
#login h3 {
	color : black;
	font-size: 12px;
	text-align: center;
    font-weight: bold;
    padding-top:-10px;
    padding-bottom: 10px;

	
}
#login .form-group {
    margin-bottom: 25px;
}
#login .checkbox {
    margin-bottom: 20px;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}
#login .checkbox.show:before {
    content: '\e013';
    color: #1fa67b;
    font-size: 17px;
    margin: 1px 0 0 3px;
    position: absolute;
    pointer-events: none;
    font-family: 'Glyphicons Halflings';
}
#login .checkbox .character-checkbox {
    width: 25px;
    height: 25px;
    cursor: pointer;
    border-radius: 3px;
    border: 1px solid #ccc;
    vertical-align: middle;
    display: inline-block;
}
#login .checkbox .label {
    color: #6d6d6d;
    font-size: 13px;
    font-weight: normal;
}
#login .btn.btn-custom {
    font-size: 14px;
	margin-bottom: 20px;
}
#login .forget {
    font-size: 13px;
	text-align: center;
	display: block;
}

/*    --------------------------------------------------
	:: Inputs & Buttons
	-------------------------------------------------- */
.form-control {
    color: #212121;
}
.btn-custom {
    color: #fff;
	background-color: #0455BF;
}
.btn-custom:hover,
.btn-custom:focus {
    color: #fff;
}

/*    --------------------------------------------------
    :: Footer
	-------------------------------------------------- */
#footer {
    color: #6d6d6d;
    font-size: 12px;
    text-align: center;
}
#footer p {
    margin-bottom: 0;
}
#footer a {
    color: inherit;
}



</style>

<!------ Include the above in your HEAD tag ---------->

<section id="login">
    <div class="container">
    	<div class="row">
    	    <div class="col-xs-12">
        	    <div class="form-wrap">
                <h1>Pemesanan Anda</h1>
                <h3>Isi dan Review Data Anda</h3>
        
                    <form role="form" action="javascript:;" method="post" id="login-form" autocomplete="off" th:action="@{/passanger/save}">
                        <div class="form-group">
                            <label for="email" class="sr-only">Nama Lengkap</label>
                            <input type="text" th:field="*{passangerForm.passangerName}" name ="email" id="email" class="form-control" placeholder="Nama Lengkap">
                        </div>
                        <div class="form-group">
                            <label for="key" class="sr-only">Email</label>
                            <input type="email" th:field="*{passangerForm.passangerEmail}"  name="key" id="key" class="form-control" placeholder="somebody@example.com">
                        </div>
                         <div class="form-group">
                            <label for="key" class="sr-only">Contact</label>
                            <input type="number" th:field="*{passangerForm.passangerContact}"  name="key" id="key" class="form-control" placeholder="Nomor Telepon">
                        </div>
                        <div class="form-group">
                            <label for="key" class="sr-only">Tipe Identitas</label>
                           <!--  <input type="text" name="key" id="key" class="form-control" placeholder="Nomor Telepon"> -->
                           <select class="form-control" th:field=*{passangerForm.passangerIdentityType}>
					<option th:value="0">Pilih Tipe Identitas</option>
					<option th:value="KTP">KTP</option>
					<option th:value="SIM">SIM</option>
				</select>
                        </div>
                        <div class="form-group">
                            <label for="key" class="sr-only">Nomor Identitas</label>
                            <input type="number" th:field="*{passangerForm.passangerIdentityNumb}" name="key" id="key" class="form-control" placeholder="Nomor Identitas">
                        </div>
                        <div class="form-group">
                            <label for="key" class="sr-only">Kewarganegaraan</label>
                           <!--  <input type="number" name="key" id="key" class="form-control" placeholder="Nomor Telepon"> -->
                           <select class="form-control" th:field=*{passangerForm.passangerNationality}>
					<option th:value="0">Pilih Kewarganegaraan</option>
					<option th:value="Asing">Warga Negara Asing (WNA)</option>
					<option th:value="Indonesia">Warga Negara Indonesia (WNI)</option>
				</select>
                        </div>
                        <button type="submit" id="btn-login" class="btn btn-custom btn-lg btn-block" value="save"> Selanjutnya </button>
                    </form>
                    <hr>
        	    </div>
    		</div> <!-- /.col-xs-12 -->
    	</div> <!-- /.row -->
    </div> <!-- /.container -->
</section>


<footer id="footer">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <p>Passanger Page © - 2034</p>
            </div>
        </div>
    </div>
</footer>

<script>
function showPassword() {
    
    var key_attr = $('#key').attr('type');
    
    if(key_attr != 'text') {
        
        $('.checkbox').addClass('show');
        $('#key').attr('type', 'text');
        
    } else {
        
        $('.checkbox').removeClass('show');
        $('#key').attr('type', 'password');
        
    }
    
}


</script>