<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    
    <title>Admin</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light" >
    <div class="container-fluid">
       <div class="container">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto"></ul>
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/admin}" href="#">Admin</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/logout}" href="#">logout</a>
                </li>

            </ul>

        </div>
        </div>
    </div>
</nav>
<div class="container-fluid">

    <a th:href="@{/admin/tagihan/save}" style="margin: 20px 0" class="btn btn-primary">Add Product</a>
    <table class="table">
        <thead class="thead-light">
        <tr>
            <th scope="col">Nama Pelanggan</th>
            <th scope="col">No Pelanggan</th>
            <th scope="col">Tipe</th>
            <th scope="col">Harga</th>
            <th scope="col">Delete</th>
        </tr>
        </thead>
        <tbody>

        <tr th:each="tagihan : ${page.content}">
            <td th:text="${tagihan.name}"></td>
			<td th:text="${tagihan.noPelanggan}"></td>
			<td th:text="${tagihan.tipetagihan.namatipe}"></td>
			<td th:text="${tagihan.harga}"></td>

            <td><a type="button" class="btn btn-danger" th:onclick="deleteData('[[${tagihan.id}]]')">Delete</a></td>

        </tr>
        </tbody>
    </table>
</div>



<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>

<script inline="javascript">
		
		
		var baseUrl = "";
		
		function deleteData(data){
			var conf = confirm("Are You Sure ?")
			if(conf == true){
				window.location = baseUrl + "tagihan/delete?id="+data;
			}
			
			return false;
		}
		
		function clearSearch() {
        window.location = "[[@{/}]]";
    };
	</script>

</html>

