<!DOCTYPE html>
<html>
	<head>
		<meta charset="ISO-8859-1">
		<title>Transaksi Page</title>
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
	</head>
	
	
	<body>
		<div class="container">
				<a type="button" class="btn btn-secondary my-2" href="/login" style="text-decoration: none; color: white;">Back</a>

			<br/><br/>
			<div id="data-collection">
				<div id="add-provider">
					<form method="post" th:action="@{/admin/tipetagihan/save}" th:object="${tipeTagihanForm}">
						<label>Tagihan Name</label><br/>
						<input type="text" th:field="*{namatipe}" /><br/>
						<span th:if="${#fields.hasErrors('namatipe')}" class="error text-danger" th:errors="*{namatipe}"></span><br/>
						
						<input class="btn btn-success" type="submit" value="save"/>
					</form>
					<span th:if="${success}" th:text="${success}"></span>
				</div><br/><br/>
				
				
			<!--	<div class="mt-5">
            <form th:action="@{/admin(search=${keyword})}" method="get">
                Filter: <input type="text" name="keyword" id="keyword" size="50" th:value="${keyword}" required />
                &nbsp;
                <input type="submit" value="Search" />
                &nbsp;
                <input type="button" value="Clear" id="btnClear" onclick="clearSearch()" />
            </form>-->
            <br/>
        		</div>
				<div class="row d-flex justify-content-start">
					<div class="col-8">
						<table class="table table-dark table-striped">
					<thead>
						<tr>
							<td>Name</td>
							<td>Action</td>
						</tr>
					</thead>
					<tbody th:each="tipetagihan : ${page}">
						<tr>
							<td th:text="${tipetagihan.namatipe}"></td>
							<td>
								<a type="button" class="btn btn-danger" th:onclick="deleteData('[[${tipetagihan.id}]]')">Delete</a>
							
							</td>
						</tr>
					</tbody>
				</table>
				
<!--		<div class="pagination-div">
            <span th:if="${page.hasPrevious()}">
                <a th:href="@{/admin(keyword=${keyword},pageNo=${page.number-1},pageSize=${page.size})}">Previous</a>
            </span>
            <th:block th:each="i: ${#numbers.sequence(0, page.totalPages - 1)}">
                <span th:if="${page.number == i}" class="selected">[[${i}+1]]</span>
                <span th:unless="${page.number == i}">
                     <a th:href="@{/admin(keyword=${keyword},pageNo=${i},pageSize=${page.size})}">[[${i}+1]]</a>
                </span>
            </th:block>
            <span th:if="${page.hasNext()}">
                <a th:href="@{/admin(keyword=${keyword},pageNo=${page.number+1},pageSize=${page.size})}">Next</a>
            </span>
        </div>-->
				
				
					</div>
					
				</div>
				
				
			</div>
		</div>
	</body>
	<script inline="javascript">
		
		var baseUrl = "";
		
		function deleteData(data){
			var conf = confirm("Are You Sure ?")
			if(conf == true){
				window.location = baseUrl + "tipetagihan/delete?id="+data;
			}
			
			return false;
		}
		
		function clearSearch() {
        window.location = "[[@{/}]]";
    }
	</script>
</html>